body {
    font-family: sans-serif;
}

div {
    box-sizing: border-box; 
}

#top-section
{
    height: 130px;
    background-color: #00FF00;
}

#bottom-section
{
    background-color: #ff0000;
    min-height: 500px;
    margin: 0;
    padding: 100px 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr {
    background-color: #ffffff;
}

